<!DOCTYPE html5>
<html ng-app="myApp">
  <head>

    <!-- Generic meta tags -->
    <meta charset="UTF-8"/>
    <title>Derek Argueta</title>
    <meta name="author" content="Derek Argueta, darguetap@gmail.com"/>
    <meta name="description" content="Personal website of Derek Argueta, including work and contact info"/>
    <meta name="language" content="ES"/>

    <!-- Facebook meta tags -->
    <meta property="og:title" content="Derek Argueta's Website"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://dargueta.com/"/>

    <!-- Twitter meta tags -->
    <meta name="twitter:creator" content="@derek_arg"/>
    <meta name="twitter:title" content="Derek Argueta's Website"/>

    <!-- Google Authorship -->
    <link rel="author" href="https://plus.google.com/u/0/+DerekArgueta_phg/posts"/>

    <!-- Angular meta data -->
    <base href="/"/>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="components/materialize/dist/css/materialize.min.css"></script>
    <link href="components/angular-tooltips/dist/angular-tooltips.min.css" rel="stylesheet"/>
    <link href="components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic'
    rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="col s10 offset-s1">
          <h1 id="title" style="font-size: 80px">Derek Argueta</h1>
        </div>
      </div>

      <!-- Navigation -->
      <div class="row" id="nav">
        <div class="col m2 s12">
          <h2><a href="#" id="home">Home</a></h2>
        </div>
        <div class="col m2 s12">
          <h2><a href="#work" id="work">Resume</a></h2>
        </div>
        <div class="col m2 s12">
          <h2><a href="#projects" id="projects">Projects</a></h2>
        </div>
        <div class="col m2 s12">
          <h2><a href="#reading" id="reading">Reading</a></h2>
        </div>
        <div class="col m2 s12">
          <h2><a href="https://medium.com/@derekargueta" target="_blank" id="blog">Blog</a></h2>
        </div>
        <div class="col m2 s12">
          <h2><a href="#contact" id="contact">Contact</a></h2>
        </div>

        <div class="row">
          <div class="col s12" style="height:1px;background-color:black"></div>
        </div>
      </div>
      
      <div>

        <div ng-view></div>

      </div>

      <div class="row" style="margin-top:150px">
        <div class="col s12">
          <p class="center-align" style="line-height:22px;font-size:20px"><br/>&copy; 2020 Derek Argueta <a href="https://github.com/derekargueta/Personal-Site"><i class="fa fa-github" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="components/angular-tooltips/dist/angular-tooltips.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81304009-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
