body {
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #33CCFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

i {
  font-style: italic;
}

u {
  text-decoration: none;
  border-bottom: 1px solid black;
}

b {
  text-decoration: none;
  font-weight: 500;
}

#title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 10px;
}

#nav > div > h2 {
  text-align: center;
  font-size: 26px;
}

#nav > div > h2 > a {
  text-decoration: none;
  color: black;
}

.media-icons-container > div > a {
  display: block;
  width: 48px;
  margin-right: auto;
  margin-left: auto;
}

/*************/
/* Work.html */
/*************/
ol,
ul {
  list-style: circle;
  padding-left: 20px;
}

li > p {
  font-family: sans-serif;
  line-height: 26px;
}

strong {
  font-weight: bold;
}

.screenshot {
  margin-top: 20px;
}

.project-title {
  font-size: 30px;
}

.project-container {
  margin-top: 40px;
}

.work-block {
  margin-bottom: 30px;
}

.job-title-container {
  width: 100%;
  clear: both;
  height: 26px;
}

.job-title-container > p {
  font-size: 26px;
  font-weight: 100;
}

.work-title {
  font-size: 32px;
  font-style: italic;
}

.work-company {
  float: left;
}

.work-date {
  float: right;
}