<div class="row">
  <div class="12u$">
    <p style="line-height:25px">I'm a Hispanic-American, born and raised in Houston, Texas. For a good
    chunk of my life, I believed I was going to pursue medicine, and even took a
    couple of courses in health science. My junior year of high school, I took
    Pre-AP Computer Science, which taught Java programming, for a GPA booster and
    immediately fell in love with programming. I think it's a really cool skill
    because with just a computer and internet connection, there's an infinite
    number of things you can build - websites, mobile apps, desktop apps, server
    systems, etc.</p>
    <div class="8u" style="margin-left:auto;margin-right:auto">
      <img src="img/ds.jpg" style="max-height:170px;max-width:170px"/>
      <img src="img/derek.jpg" style="max-height:170px;max-width:170px"/>
      <img src="img/derek3.jpg" style="max-height:170px;max-width:170px"/>
      <img src="img/11.jpg" style="max-height:170px;max-width:170px"/>
      <img src="img/5.jpg" style="max-height:170px;max-width:170px"/>
    </div>
  </div>
  <br/><br/>
  <p style="line-height:25px">In high school, I was quite active in extra-curricular
  activities, including competitive programming, orchestra, National Honor Society,
  Spanish National Honor Society, Tae-Kwon-Do, and did football my freshman/sophomore years.</p>
</div>