
<div class="row">
  <div class="12u$">
    <p style="text-align:center;font-size:26px">Hello, I'm a software engineer
    in Utah with a high interest in mobile apps, the web, and data science.</p>

    <p style="text-align:center;font-size:26px;margin-top:40px">When not hacking
    around on my endless list of side projects, I go to classes at 
    <a href="https://cs.byu.edu/" target="_blank">Brigham Young University</a>, 
    work part-time at <a href="http://verisage.us/" target="_blank">Verisage</a>
    custom software development, teach at
    <a href="http://codingcamp.us/" target="_blank">Coding Campus</a>, work on 
    <a href="http://universitylunchbox.com/" target="_blank">LunchBox</a>, read,
    play some MineCraft or hang around with some fellow humans.</p>

    <p style="text-align:center;font-size:26px;margin-top:40px">Technical
    Skills</p>

    <div class="row">
      <div class="-2u 4u">
        <p style="text-align:center;font-size:20px;margin-top:40px">
          <strong>Front-End Web</strong>
        </p>
      </div>
      <div class="4u$">
        <p style="text-align:center;font-size:20px;margin-top:40px">HTML/CSS*, 
        JavaScript*, jQuery*, AngularJS, Bootstrap</p>
      </div>
    </div>

    <div class="row">
      <div class="-2u 4u">
        <p style="text-align:center;font-size:20px;margin-top:40px">
          <strong>Back-End Web</strong>
        </p>
      </div>
      <div class="4u$">
        <p style="text-align:center;font-size:20px;margin-top:40px">PHP, Python*,
        Django*, Flask, Java, Node.js, Express, Go (learning)</p>
      </div>
    </div>

    <div class="row">
      <div class="-2u 4u">
        <p style="text-align:center;font-size:20px;margin-top:40px">
          <strong>Desktop/Systems Development</strong>
        </p>
      </div>
      <div class="4u$">
        <p style="text-align:center;font-size:20px;margin-top:40px">Java*,
        Python*, C/C++, Bash script</p>
      </div>
    </div>

    <div class="row">
      <div class="-2u 4u">
        <p style="text-align:center;font-size:20px;margin-top:40px">
          <strong>iOS Development</strong>
        </p>
      </div>
      <div class="4u$">
        <p style="text-align:center;font-size:20px;margin-top:40px">iOS*, Swift,
        Objective-C*, CocoaPods, Mogenerator, RestKit</p>
      </div>
    </div>

    <div class="row">
      <div class="-2u 4u">
        <p style="text-align:center;font-size:20px;margin-top:40px">
          <strong>Databases</strong>
        </p>
      </div>
      <div class="4u$">
        <p style="text-align:center;font-size:20px;margin-top:40px">SQL, MySQL, 
        PostgreSQL*, SQLite*, MongoDB</p>
      </div>
    </div>

    <div class="row">
      <div class="-2u 4u">
        <p style="text-align:center;font-size:20px;margin-top:40px">
          <strong>Misc.</strong>
        </p>
      </div>
      <div class="4u$">
        <p style="text-align:center;font-size:20px;margin-top:40px">Lua + 
        Corona SDK, git</p>
      </div>
    </div>

    <div class="row" style="margin-top:30px">
      <div class="12u$">
        <p style="text-align:center">(* indicates proficiency or common use)
      </div>
    </div>
  </div>
</div>