<div class='row'>
  <div class='8u' style='margin-left:auto;margin-right:auto;float:none'>
    <div class="row">
      <div class="12u$">
        <p style="text-align:center">Hello, I'm a software engineer
        in Utah with interest in system programming, data science/engineering/analytics, application programming, iOS development, testing, automation, and building server-side systems. If only there were more hours in the day... and red bull were cheaper..<br/><br/>I guess simply put I like building <i>complex systems</i>.<br/><br/>I also am very interested in slightly off-topic items such as aeronautical electronics engineering, mechatronics, robotics, space exploration, and aquatic robotics. You could say choosing computer science over electrical engineering was a pretty tough decision. On occasion I still enjoy hacking on hardware with my Arduino, Atmel ATMega microcontrollers, and Raspberry Pi (just ordered the B+!!)</p>

        <p style="text-align:center;margin-top:40px">When not hacking
        around on my endless list of side projects, I go to classes at 
        <a href="https://cs.byu.edu/" target="_blank">Brigham Young University</a>, 
        work part-time at <a href="http://verisage.us/" target="_blank">Verisage</a>
        custom software development, teach at
        <a href="http://codingcamp.us/" target="_blank">Coding Campus</a>, work on 
        <a href="http://universitylunchbox.com/" target="_blank">LunchBox</a>, read,
        play some MineCraft or hang around with some fellow humans.</p>

        <h2 style="text-align:center;margin-top:60px;font-size:30px">Technical
        Skills</h2>

        <div class="row">
          <div class="-2u 4u">
            <p style="text-align:right;font-size:20px;margin-top:40px">
              <strong>Front-End Web</strong>
            </p>
          </div>
          <div class="4u$">
            <p style="text-align:left;font-size:20px;margin-top:40px">HTML/CSS*, 
            JavaScript*, jQuery*, AngularJS, Bootstrap</p>
          </div>
        </div>

        <div class="row">
          <div class="-2u 4u">
            <p style="text-align:right;font-size:20px;margin-top:40px">
              <strong>Back-End Web</strong>
            </p>
          </div>
          <div class="4u$">
            <p style="text-align:left;font-size:20px;margin-top:40px">PHP, Python*,
            Django*, Flask, Java, Node.js, Express, Go (learning)</p>
          </div>
        </div>

        <div class="row">
          <div class="-2u 4u">
            <p style="text-align:right;font-size:20px;margin-top:40px">
              <strong>Desktop/Systems Development</strong>
            </p>
          </div>
          <div class="4u$">
            <p style="text-align:left;font-size:20px;margin-top:40px">Java*,
            Python*, C/C++, Bash script</p>
          </div>
        </div>

        <div class="row">
          <div class="-2u 4u">
            <p style="text-align:right;font-size:20px;margin-top:40px">
              <strong>iOS Development</strong>
            </p>
          </div>
          <div class="4u$">
            <p style="text-align:left;font-size:20px;margin-top:40px">iOS*, Swift,
            Objective-C*, CocoaPods, Mogenerator, RestKit</p>
          </div>
        </div>

        <div class="row">
          <div class="-2u 4u">
            <p style="text-align:right;font-size:20px;margin-top:40px">
              <strong>Databases</strong>
            </p>
          </div>
          <div class="4u$">
            <p style="text-align:left;font-size:20px;margin-top:40px">SQL, MySQL, 
            PostgreSQL*, SQLite*, MongoDB</p>
          </div>
        </div>

        <div class="row">
          <div class="-2u 4u">
            <p style="text-align:right;font-size:20px;margin-top:40px">
              <strong>Misc.</strong>
            </p>
          </div>
          <div class="4u$">
            <p style="text-align:left;font-size:20px;margin-top:40px">Lua + 
            Corona SDK, git*</p>
          </div>
        </div>

        <div class="row" style="margin-top:30px">
          <div class="12u$">
            <p style="text-align:center">(* indicates proficiency or common use)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
