<div class="row">
  <div class="col s12">
    <p class="center-align" style="line-height:30px">Hello, I'm a senior
    software engineer at <a href="https://www.tesla.com/" target="_blank">Tesla</a>.</p>

    <p class="center-align" style="line-height:30px">I'm interested in
    <b>infrastructure</b> (traffic, monitoring, security), <b>backend</b>
    application logic, <b>systems</b> engineering, and <b>data</b> engineering
    with an emphasis on <b>distributed systems</b></p> I particularly love a niche
    field called traffic engineering - an intersection of distributed systems and
    monitoring - that includes CDN management/architecture, advanced HTTP, TLS,
    proxying and load balancing, and network observability.

    <p class="center-align" style="line-height:30px">I additionally love studying
    computer security, programming language theory, advanced data structures,
    data compression, and database internals/theory.</p>

    <h2 class="center-align" style="margin-top:60px;font-size:30px">Technical
    Skills</h2>

    <div class="row">
      <div class="col s4">
        <p class="right-align" style="font-size:20px">
          <strong>Proficient Languages</strong>
        </p>
      </div>
      <div class="col s7">
        <p class="left-align" style="font-size:20px">Python, C, C++, Go,
        Java</p>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <p class="right-align" style="font-size:20px">
          <strong>Familiar Languages</strong>
        </p>
      </div>
      <div class="col s7">
        <p class="left-align" style="font-size:20px">JavaScript, Lua, Prolog, Verilog,
        Erlang, Julia, Lisp (&amp; variations i.e. Racket), C#, Haskell</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col s4">
        <p class="right-align" style="font-size:20px">
          <strong>Infrastructure Software</strong>
        </p>
      </div>
      <div class="col s7">
        <p class="left-align" style="font-size:20px">Nginx, Varnish, Envoy, Zookeeper, Docker</p>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <p class="right-align" style="font-size:20px">
          <strong>Coursework</strong>
        </p>
      </div>
      <div class="col s7">
        <p class="left-align" style="font-size:20px">CS 252 - Computational Theory<br/>CS 312 - Algorithms<br/>CS 330 - Programming Languages<br/>CS 340 - Software Design and Testing<br/>CS 345 - Operating Systems<br/>CS 360 - Internet Programming<br/>CS 460 - Computer Communications and Networking<br/>CS 462 - Database Modeling Concepts<br/>CS 465 - Computer Security<br/>ECEn 220 - Fund. of Digital Systems<br/>MATH 290 - Fund. of Mathematics (proofs)<br/>MATH 313 - Linear Algebra</p>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <p class="right-align" style="font-size:20px">
          <strong>Teaching Experience</strong>
        </p>
      </div>
      <div class="col s7">
        <p class="left-align" style="font-size:20px">Full-stack Web Development
        at <a href="http://vschool.io/en/" target="_blank">V School</a><br/>CS
        498R - Competitive Programming at BYU<br/>CS 235 - Data Structures at
        BYU</p>
      </div>
    </div>

    <div class="row">
      <div class="col s4">
        <p class="right-align" style="font-size:20px">
          <strong>Misc.</strong>
        </p>
      </div>
      <div class="col s7">
        <p class="left-align" style="font-size:20px">git, vim, bash, Unix,
        TCP/IP, automation</p>
      </div>
    </div>
  </div>
</div>
