<div class="row">
  <div class="9u" style="margin-left:auto;margin-right:auto;float:none">

    <div class="row" style="margin-bottom:50px">
      <div class="10u -1u">
        <p>I'm most interested in work opportunities in the following areas:</p>
        <ul>
          <li><p>iOS development</p></li>
          <li><p>web development</p></li>
          <li><p>server-side development with Python, Java, C/C++, and Golang</p></li>
          <li><p>systems development</p></li>
          <li><p>data science engineering</p></li>
          <li><p>database administration</p></li>
        </ul>
        <br/>
        <p>I also tutor at the academic level, with $20/hr for grade school and
          $25/hr for collegiate/bootcamp level.</p>
        <br/><br/>
        <p>I am available for speaking engagements. I love speaking on various programming and software engineering topics,
        having spoken at <a href="http://utahcodecamp.com/" target="_blank">Utah Code Camp</a>, <a href="http://codingcamp.us/" target="_blank">Coding Campus</a>, <a href="http://utahnode.ninja/" target="_blank">Utah Node Ninjas</a>,
        and the <a href="http://www.meetup.com/pywasatch/" target="_blank">Wasatch Python Developers</a> meetup on <a href="https://www.mongodb.org/" target="_blank">MongoDB</a>, software testing,
        <a href="http://www.celeryproject.org/" target="_blank">Celery</a>, and more.</p>
        <br/><br/>
        <p>I'm currently not accepting freelance projects.
      </div>
    </div>

    <!-- ============================= -->
    <!-- =========== Row 1 =========== -->
    <!-- ============================= -->

    <embed src="/img/Derek-Argueta-Resume.pdf" width="820" height="1060" type='application/pdf' style="margin-left:auto;margin-right:auto;display:block">
    <!-- <div class="row">
      <div class="6u">
        <h3 style="font-size:30px"><u>Education</u></h3>
        <ul style="margin-top:5px">
          <li><p>Brigham Young University (2017)</p></li>
          <li><p>Computer Science B.S. - 2.73 GPA <a href="#" tooltips tooltip-content="No, I'm not proud of this. I had a rough few semesters due<br/>to personal incidents and am currently in the process of<br/>bringing my GPA back up to something that I am satisfied with.<br/>But this is also the result of so many side projects and personal learning." tooltip-side="right"><i class="fa fa-info-circle"></i></a></p></li>
          <li><p>AP Computer Science 5/5 Exam Score</p></li>
          <li><p>AP AB Calculus 5/5 Exam Score</p></li>
          <li><p>30 on ACT</p></li>
        </ul>
      </div>

      <div class="6u">
        <h3 style="font-size:30px"><u>Skills</u></h3>
        <ul style="margin-top:5px">
          <li><p><strong>Proficient:</strong> Java, Objective-C, Python, HTML, CSS,
          JavaScript</p></li>
          <li><p><strong>Other:</strong> SQL, C/C++, PHP, Lua, Swift, Assembly, Node.js</p></li>
          <li><p><strong>Misc:</strong> OSX, Linux, Google APIs, REST, Agile, Django,
          Flask, SQLite3, PostgreSQL, Test-Driven Development.</p></li>
        </ul>
      </div>
    </div>

    <!-- =============================
    <!-- =========== Row 2 ===========
    <!-- =============================
    <div class="row" style='margin-top:40px'>
      
      <div class="6u">
        <h3 style='font-size:30px'><u>Coursework</u></h3>
        <ul style="margin-top:5px">
          <li><p>CS 142 - Intro to Programming*</p></li>
          <li><p>CS 224 - Computer Systems</p></li>
          <li><p>CS 235 - Data Structures</p></li>
          <li><p>CS 236 - Discrete Mathematics</p></li>
          <li><p>CS 240 - Advanced Programming Concepts</p></li>
          <li><p>EC EN 191 - Freshman Seminar</p></li>
          <li><p>EC EN 220 - Fundamentals of Digital Logic</p></li>
          <li><p>MATH 112 - Calculus I*</p></li>
          <li><p>MATH 113 - Calculus II</p></li>
          <li><p>MATH 290 - Fundamentals of Mathematics</p></li>
          <li><p>MATH 313 - Elementary Linear Algebra</p></li>
          <li><p>PHSCS 105 - General Physics I*</p></li>
          <li><p>PHSCS 106 - General Physics II*</p></li>
          <li><p>PHSCS 121 - Newtonian Physics</p></li>
        </ul>
        <p style="text-align:center">(* indicates credit by AP Exam)</p>
      </div>

      <div class="6u">
      <h3 style='font-size:30px'><u>Projects</u></h3>
        <ul style="margin-top:5px">
          <li><p>Jeopardy Java desktop game</p></li>
          <li><p>Study-group iOS, Android, and Web app (all native)</p></li>
          <li><p>JavaScript Maze Game</p></li>
          <li><p>REST API for getting course/major info of select universities</p></li>
          <li><p>Personal website</p></li>
          <li><p>Android app for managing and prioritizing tasks (<a href='http://hacktx.com/' target='_blank'>HackTX</a>)</p></li>
          <li><p>Web app similar to JibJab, but allows you to link your own YouTube video (<a href='http://mhacks.org/' target='_blank'>MHacks</a>)</p></li>
          <li><p>Several Raspberry Pi, Arduino, and Atmel ATMega hacks</p></li>
          <li><p>MYNZ, an augmented reality game for Apple Watch and iPhone</p></li>
          <li><p>Lobby Kiosk appointment system comprising of a web app, iPad apps, and Django server</p></li>
        </ul>
      </div>

    </div>

    <!-- =============================
    <!-- =========== Row 3 ===========
    <!-- =============================
    <div class="row" style="margin-top:60px">

      <div class="12u$" style="margin-bottom:5px">
        <h3 style="font-size:30px"><u>Work Experience</u></h3>
      </div>

      <div class="12u$ work-block">
        <h3 class='work-title'>QA Engineering Intern</h3>
        <div class='job-title-container'>
          <p class='work-company'><a href='http://www.domo.com/' target='_blank'>Domo Inc.</a></p><p class='work-date'>March 2015 - Current</p>
        </div>
        <p style="width:100%">Ensure that software is top-quality through several testing strategies including manual and automated.</p>
      </div>

      <div class="12u$ work-block">
        <h3 class='work-title'>Instructor &amp; Curriculum Developer</h3>
        <div class='job-title-container'>
          <p class='work-company'><a href='http://codingcamp.us/' target='_blank'>Coding Campus</a></p><p class='work-date'>December 2014 - March 2015</p>
        </div>
        <p>Develop and teach curriculum for a M.E.A.N stack course at Coding Campus, a sister company of Verisage.</p>
      </div>

      <div class="12u$ work-block">
        <h3 class='work-title'>Software Engineer</h3>
        <div class='job-title-container'>
          <p class='work-company'><a href='http://verisage.us/' target='_blank'>Verisage</a></p><p class='work-date'>September 2014 - February 2015</p>
        </div>
        <p>Continued on part-time during the school year working in various areas including Django, iOS, AngularJS, DevOps, SysAdmin work, and automation.</p>
      </div>

      <div class="12u$ work-block">
        <h3 class='work-title'>Software Engineering Intern</h3>
        <div class='job-title-container'>
          <p class='work-company'><a href='http://verisage.us/' target='_blank'>Verisage</a></p><p class='work-date'>April 2014 - September 2014</p>
        </div>
        <p>Worked in Python and Objective-C to develop on the full stack for iOS apps including their RESTful APIs developed on the Django framework.</p>
      </div>

      <div class="12u$ work-block">
        <h3 class='work-title'>Freelance Software Consultant &amp; Contractor</h3>
        <div class='job-title-container'>
          <p class='work-company'>Self-employed/Psiwatt</p><p class='work-date'>August 2013 - April 2015</p>
        </div>
        <p>Worked on several websites and applications including<p/>
          <ul>
            <li><p>Sissi Real Estate (August 2013)</p></li>
            <li><p>The Dream Press (now rebranded to Dreamling Books (September 2013 - January 2014 &amp; December 2014 - Current)</p></li>
            <li><p>Dave Co Vending (January 2014 - Current)</p></li>
          </ul>
        <p>When working on the second portion of Dreamling Books, I decided to start a company with a friend called Psiwatt.</p>
      </div>

    </div>

    <!-- =============================
    <!-- =========== Row 4 ===========
    <!-- =============================
    <div class="row">
      
      <div class="6u">
        <h3 style='font-size:30px'><u>Notable</u></h3>
        <ul style="margin-top:5px">
          <li><p>Eagle Scout</p></li>
          <li><p>Two-time competitor at HP CodeWars &amp; competed on the regional and state level for Java in high school</p></li>
          <li><p>Participated in <a href='http://hacktx.com/' target='_blank'>HackTX</a> 2013, <a href='http://mhacks.org/' target='_blank'>MHacks</a> 2014, and <a href="http://angelhack.com/" target="_blank">AngelHack: San Francisco</a> 2015</p></li>
          <li><p>Finalist in BYU Mobile App Contest 2014</p></li>
          <li><p>Founder &amp; organizer of Utah Node.js Ninjas user group</p></li>
        </ul>
      </div>

      <div class="6u">
      <h3 style='font-size:30px'><u>Affiliations</u></h3>
        <ul style="margin-top:5px">
          <li><p>Institute of Electronical and Electronics Engineers</p></li>
          <li><p>Society of Hispanic Professional Engineers (officer)</p></li>
          <li><p>Association of Computing Machinery (officer)</p></li>
          <li><p>Boy Scouts of America</p></li>
          <li><p>Utah Node.js Ninjas</p></li>
          <li><p>BYU Cocoaheads</p></li>
          <li><p>Utah Code Camp (speaker)</p></li>
          <li><p>Wasatch Python Developers</p></li>
        </ul>
      </div>

    </div> -->

  </div>
</div>