<div class="row">
      <div class="col s10 offset-s1">
        <p>I'm most interested in work opportunities in the following areas:</p>
        <ul>
          <li><p>server-side development with Python, Java, Scala, C/C++, Node.js, or Go</p></li>
          <li><p>network and mobile security</p></li>
          <li><p>data science engineering</p></li>
          <li><p>distributed systems development and maintenance</p></li>
          <li><p>full-stack web development</p></li>
        </ul>
        <br/><br/>
        <p>I am available for speaking engagements. I love speaking on various programming and software engineering topics,
        having spoken at Utah Code Camp, Coding Campus, and various user groups on topics including Python, MongoDB, and
        software testing.</p>
        <br/><br/>
        <p>I also tutor at the academic level, with $20/hr for grade school and
          $30/hr for collegiate/bootcamp level.</p>
      </div>
    </div>

<embed src="/img/Derek-Argueta-Resume.pdf" width="820" height="1060" type='application/pdf' style="margin-left:auto;margin-right:auto;display:block">