<div class="row">
  <div class="9u" style="margin-left:auto;margin-right:auto;float:none">

    <div class="row" style="margin-bottom:50px">
      <div class="10u -1u">
        <p>I'm most interested in work opportunities in the following areas:</p>
        <ul>
          <li><p>iOS development</p></li>
          <li><p>web development with AngularJS</p></li>
          <li><p>server-side development with Python, Java, Scala, C/C++, Node.js, or Go</p></li>
          <li><p>systems development</p></li>
          <li><p>data science engineering</p></li>
          <li><p>distributed systems development and maintenance</p></li>
        </ul>
        <br/>
        <p>I love consulting work, however given my busy schedule of being a full-time student, research assistant, officer
        of various BYU clubs and organizer of
        various hacking events, my freelance time is limited to about 10-15 hours per week at minimum - sometimes more depending
        on the week. If this is not enough development time please consider other consultants and dev shops. My standard rate 
        is a negotiable $50/hr.</p>
        <br/><br/>
        <p>I am available for speaking engagements. I love speaking on various programming and software engineering topics,
        having spoken at Utah Code Camp, Coding Campus, and various user groups on topics including Python, MongoDB, and
        software testing.</p>
        <br/><br/>
        <p>I also tutor at the academic level, with $20/hr for grade school and
          $30/hr for collegiate/bootcamp level.</p>
      </div>
    </div>

    <embed src="/img/Derek-Argueta-Resume.pdf" width="820" height="1060" type='application/pdf' style="margin-left:auto;margin-right:auto;display:block">

  </div>
</div>